body {
margin: 0;
background-image: url(../images/paisley.png);
}
.jumbotron {
background-image: url(../images/home.jpg);
background-size: cover;
height: 90%;
width: 580px;
text-align: center;
padding-top: 180px;
margin-right: 20px;
color: #fff;
float: left;
}
#sidebar {
margin-bottom: 100px;
padding-bottom: 100px;
max-height: 70%;
float: right;
border-style: double;
background-color: silver;
font-family: 'Ravi Prakash', cursive;
font-size: 18px;
}
.footer {
position: absolute;
width: 100%;
height: 70%;
border-style: solid;
background-color: black;

}
.btn {

margin-right: 20px;
margin-top: 10px;
float: right;
}
#footer h4 {
color: silver;
float: right;
padding-top: 10px;
padding-right: 100px;
}
#submit {
float: left;
margin-left: 10px;
}
img {
width: 90%;
}
#img {
height: 600px;
}
#rights {
color: silver;
text-align: center;
padding-top: 10px;
}
}